.console {
    width:      100%;
    height:     100px;
    background: white;
    overflow-y: scroll;
    display:    none;
    font:       12px monospace;
}

.console > p {
    padding: 0;
    margin:  0;
}

.console > .log {
    color:      black;
    background: white;
}

.console > .info {
    color:      black;
    background: #eeeeff;
}

.console > .warn {
    color:      black;
    background: #ffff77;
}

.console > .error {
    color:      white;
    background: #ff5555;
}
