/* CSS-wise, themes only consist of these parts. Make sure to define them
 * when creating a new theme.
 *
 * .theme_name
 *     general background and foreground
 *
 * .theme_name.uimenu_container
 *     style for dynamic containers
 *
 * .theme_name.uimenu_container .uimenu_button
 *     generic buttons
 *
 * .theme_name.uimenu_container .uimenu_button:hover
 *     and their hover
 *
 * .theme_name.uimenu_button .uimenu_input_text
 *     text fields
 */

.theme_light {
    background:   #f7f7ff;
    color:        black;
}

.theme_light.uimenu_container {
    border-color: #cccccc;
}

.theme_light.uimenu_container .uimenu_button {
    border: 1px solid #111111;
}

.theme_light.uimenu_container .uimenu_button:hover {
    background: #ffffff;
}

.theme_light.uimenu_container .uimenu_input_text {
    border: 1px solid #111111;
}



.theme_dark {
    background:   #161616;
    color:        #ffffff;
}

.theme_dark.uimenu_container {
    border-color: #444444;
}

.theme_dark.uimenu_container .uimenu_button {
    border: 1px solid #eeeeee;
}

.theme_dark.uimenu_container .uimenu_button:hover {
    background: #777777;
}

.theme_dark.uimenu_container .uimenu_input_text {
    border: 1px solid #eeeeee;
}



.theme_solarized {
    background:   #002b36;
    color:        #fdf6e3;
}

.theme_solarized.uimenu_container {
    border-color: #586e75;
}

.theme_solarized.uimenu_container .uimenu_button {
    border: 1px solid #586e75;
}

.theme_solarized.uimenu_container .uimenu_button:hover {
    background: #586e75;
}

.theme_solarized.uimenu_container .uimenu_input_text {
    border: 1px solid #586e75;
}
