.block {
    display: block;
}

.uimenu_container {
    position: absolute;
    top:      0;
    left:     calc(50% - 175px);
    margin:   0;
    width:    500px;
    height:   558px;
}

.uimenu_button {
    padding:    5px;
    margin:     5px auto;
    cursor:     pointer;
    background: inherit;
    color:      inherit;
}

.uimenu_button_list {
    display: flex;
}

.uimenu_button_list .uimenu_button {
    width: 100%;
}

.uimenu_button.inline {
    margin: 0;
}

.leaderboard_nav .inline_label {
    margin-right: 5px;
}

.leaderboard_nav .uimenu_button {
    margin-right: -1px;
}

.leaderboard_nav .uimenu_input_text {
    padding:      5px;
    outline:      none;
    margin-right: -1px;
    width:        30px;
}

.uimenu_theme_menu {} /* theme menu sub-container */
.uimenu_title_menu {} /* title menu sub-container */
.uimenu_modal_stringform {} /* stringform sub-container */
.uimenu_modal_alert {} /* alert sub-container */
.uimenu_leaderboard_menu {} /* leaderboard sub-container */
.own_score_entry {} /* row in 'Your Score' section */

.uimenu_title_menu .uimenu_button {
    width: 200px;
}

.leaderboard_entry.own_score {
    font-weight: bold;
}

.uimenu_section_label {
    text-align: center;
}

.uimenu_input_text {
    color:        inherit;
    background:   inherit;
    border-color: inherit;
}

.uimenu_modal {
    position:   fixed;
    background: white;
    padding:    5px;
    border:     2px solid black;
    min-width:  100px;
    text-align: center;
}

.uimenu_modal .uimenu_button {
    background: #eee;
    border:     1px solid black;
    outline:    none;
    cursor:     pointer;
}

.uimenu_modal .uimenu_button:hover {
    background: #fff;
}

.uimenu_modal_background {
    background: #00000080;
    position:   absolute;
    left:       0;
    top:        0;
    width:      100%;
    height:     100%;
}
